<a href="https://colab.research.google.com/github/falakj07/study-of-lists-and-operations-on-it/blob/main/Study_of_List_and_operations_on_it_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Experiment no.3
## Falak Jain
## 25070123047
## Batch - A3
# Title - Study of lists and operations on it .



---

In [ ]:
## Python Lists
mylist = ["jahnvi","hiranya","falak"]
print(mylist)

['jahnvi', 'hiranya', 'falak']

In [ ]:
## List length
mylist = ["jahnvi","hiranya","falak"]
print(len(mylist))

3

In [ ]:
## A list with strings , integers and boola values :
list1 = ["abc",34,True,40,"male",40.5,3+2j]
list1

['abc', 34, True, 40, 'male', 40.5, (3+2j)]

In [ ]:
## Access Items
mylist = ["jahnvi","hiranya","falak"]
print(mylist[0])

jahnvi

In [ ]:
## Revrese/Negative Indexing
mylist = ["jahnvi","hiranya","falak"]
print(mylist[-3])

jahnvi

In [ ]:
## Slicing
mylist = ["jahnvi","hiranya","falak" , "rivya", "divisha"]
print(mylist[-3:])

['falak', 'rivya', 'divisha']

In [ ]:
mylist = ["jahnvi","hiranya","falak" , "rivya", "divisha"]
print(mylist[-3:-1])

['falak', 'rivya']

In [ ]:
mylist = ["jahnvi","hiranya","falak" , "rivya", "divisha"]
print(mylist[-3:])

['falak', 'rivya', 'divisha']

In [ ]:
## Change Item Value
mylist = ["jahnvi","hiranya","falak" , "rivya", "divisha"]
mylist[1]= "darsh"
print(mylist)

['jahnvi', 'darsh', 'falak', 'rivya', 'divisha']

In [ ]:
## Append items
mylist = ["jahnvi","hiranya","falak" , "rivya", "divisha"]
mylist.append("darsh")
print(mylist)

['jahnvi', 'hiranya', 'falak', 'rivya', 'divisha', 'darsh']

In [ ]:
## Insert items
mylist = ["jahnvi","hiranya","falak" , "rivya", "divisha"]
mylist.insert(3,"aadi")
print(mylist)

['jahnvi', 'hiranya', 'falak', 'aadi', 'rivya', 'divisha']

In [ ]:
## Extend list
mylist = ["jahnvi","hiranya","falak" , "rivya", "divisha"]
people = ["darsh ","aadi","viraj"]
mylist.extend (people)
print(mylist)

['jahnvi', 'hiranya', 'falak', 'rivya', 'divisha', 'darsh ', 'aadi', 'viraj']

In [ ]:
# Searching Items
8 in [4,5,7 ]

False

In [ ]:
10 in [2,4,10]

True

In [ ]:
# Repetition
list = ("falak")*8
list

'falakfalakfalakfalakfalakfalakfalakfalak'

In [ ]:
numbers = [10,20,30,40,50]
#slicing examples
print("Elements from index 1 to 3 ",numbers[1:4])
print("First three elements  ",numbers[0:3])
print("Elements from index 2 onwards (reverse indexing)",numbers[-3:])
print("all elements",numbers[:])

Elements from index 1 to 3  [20, 30, 40]
First three elements   [10, 20, 30]
Elements from index 2 onwards (reverse indexing) [30, 40, 50]
all elements [10, 20, 30, 40, 50]

In [ ]:
marks = [10,20,30,40,50,60]
print("Maximum mark is:",max(marks))
print("Minimum mark is:",min(marks))
print("Sum of marks is:",sum(marks))
print("number of students are:",len(numbers))

print("Average mark is:",sum(marks)/len(marks))
print("")

Maximum mark is: 60
Minimum mark is: 10
Sum of marks is: 210
number of students are: 5
Average mark is: 35.0

In [ ]:
grocerylist = ["toothpaste","brush","flour","vegetables","fruits"]
grocerylist.insert(3,"facewash")
print("Addition of a item: ",grocerylist)

Addition of a item:  ['toothpaste', 'brush', 'flour', 'facewash', 'vegetables', 'fruits']

In [ ]:
grocerylist = ["toothpaste","brush","flour","vegetables","fruits"]

grocerylist.append("facewash")
grocerylist

['toothpaste', 'brush', 'flour', 'vegetables', 'fruits', 'facewash']

In [ ]:
grocerylist = ["toothpaste","brush","flour","vegetables","fruits"]
grocerylist.remove("flour")
grocerylist

['toothpaste', 'brush', 'vegetables', 'fruits']

In [ ]:
print(grocerylist)

['toothpaste', 'brush', 'vegetables', 'fruits']

In [ ]:
contacts = ["geetali","vanshika","mihika","bhoomika"]
contacts.append("shreshtha")
print("Addition of a contact : " ,contacts)

Addition of a contact :  ['geetali', 'vanshika', 'mihika', 'bhoomika', 'shreshtha']

In [ ]:
contacts.remove("mihika")

print("Removal of contact: ",contacts)

Removal of contact:  ['geetali', 'vanshika', 'bhoomika', 'shreshtha']

In [ ]:
contacts.sort()
print("Alphabtically order of contacts:",contacts)

Alphabtically order of contacts: ['bhoomika', 'geetali', 'shreshtha', 'vanshika']

In [ ]:
list1=[20,30,40,50,60,40,10,70]
print(list1[1:3])

[30, 40]

In [ ]:
print(list1[1:3:1])

[30, 40]

In [ ]:
print(list1[1:5:1])

[30, 40, 50, 60]

In [ ]:
print(list1[1:4:3])

[30]

In [ ]:
print(list1[6:4:-2])

[10]

In [ ]:
print(list1[-2:-4:-2])

[10]

In [ ]:
## Temperature Analysis
list = [30,20,58,47,54,68,74,87,95,66]
print("The temperature of first 5 days are :",list [0:6])

The temperature of first 5 days are : [30, 20, 58, 47, 54, 68]

In [ ]:
print("The temperature of last 5 days are : ",list[-5:])

The temperature of last 5 days are :  [68, 74, 87, 95, 66]

In [ ]:
print("The highest temperature is: ",max(list) )

The highest temperature is:  95

In [ ]:
print("The lowest temperature is: ",min(list))

The lowest temperature is:  20

In [ ]:
print("The sum of all the temperatures is: " ,sum(list))

The sum of all the temperatures is:  599

In [ ]:
print("The average of temperatures is : ",sum(list)/len(list))

The average of temperatures is :  59.9

In [ ]:
## Daily expense Tracker
list2 = [2000,5000,3000,2390,1230]
print("The sum of expenses is; : ",sum(list2))

The sum of expenses is; :  13620

In [ ]:
print("The average of expenses is : ",sum(list2)/len(list2))

The average of expenses is :  2724.0

In [ ]:
print("The highest expense is : ",max(list2))

The highest expense is :  5000

In [ ]:
print("The lowest expense is : ",min(list2))

The lowest expense is :  1230

# New Section

# New Section

# New Section

# New Section